<h1> Your Cart</h1>
<div class="center hero-unit">
<div class="Cart">
	<table border=2 solid>
		<tr><td>Name</td>
			<td>Price</td>
			<td>Number</td>
			<td>Total Price </td>
		</tr>
	<tr>	
	<td>  <%= @cart.name_product %></td>
	<td> Price: <%= @cart.price_product %></td>
	<td> Number:  <%= @cart.number_product %></td>
	<td> Total: <%= @cart.total_price %></td>
</tr>
	</table>
	
</div>
</div>