// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.des_product{
	
	text-align: left;
	line-height: 20px;
	border: 1 black solid ;
	background-color: #99FFFF;
	width: 500px;
	font-size: 14px;
	font-style: italic;
	font-family: "Time NewRoman", Sansifi;
	font-weight: bold;
	
}